<%= form_with(model: invoice_item, local: true) do |form| %>
  <% if invoice_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invoice_item.errors.count, "error") %> prohibited this invoice_item from being saved:</h2>

      <ul>
        <% invoice_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :invoice_id %>
  <table class="table table-light table-sm">
    <tr>
      <td><%= form.collection_select :item_id, Item.all, :id, :name %></td>
      <td><%= form.text_field :number %></td>
      <td><%= form.submit :class=>"btn btn-sm btn-primary" %></td>
    </tr>
  </table>

<% end %>
