<%= form_with(model: customer, local: true) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
        <% customer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <tr class="table-danger">
    <td><%= form.text_field :name %></td>
    <td><%= form.text_field :telephone %></td>
    <td><%= form.text_field :city %></td>
    <td colspan="4"><%= form.submit :class=>"btn btn-sm btn-primary"%></td>
  </tr>
<% end %>