<%= form_for(invoice, local: true) do |form| %>
  <%= form.hidden_field :customer_id %>
  <div class="field">

    <%= form.label :data %>
    <%= form.date_select :data %>

    <%= form.submit :class=>"btn btn-sm btn-primary" %>
  </div>
<% end %>
