<p id="notice"><%= notice %></p>

<div class="jumbotron">
<h1>Customers</h1>

<table class="table table-bordered" >
  <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Telephone</th>
      <th>City</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <%= render partial:'form', locals: {customer: Customer.new }  %>
    <% @customers.each do |customer| %>
      <tr class="table-warning">
        <td><%= customer.name %></td>
        <td><%= customer.telephone %></td>
        <td><%= customer.city %></td>
        <td><%= link_to 'Show', customer, class: "btn btn-sm btn-secondary" %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer), class: "btn btn-sm btn-secondary"  %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-secondary"  %></td>
      </tr>

      <% if customer.invoices.count>0 %>
      <tr>
        <td></td>
        <td colspan="5">

          <table class="table table-bordered table-active ">
            <thead class="table-info">
            <tr class="table-sm">
              <th>Data</th>
              <th>No</th>
            </tr>
            </thead>

            <tbody>
            <% customer.invoices.each do |invoice| %>
              <tr class="table-sm">
                <td><%= invoice.data %></td>
                <td><%= invoice.id %></td>
              </tr>
              <% if invoice.invoice_items.count > 0 %>
                <tr class="table-sm">
                  <td colspan="2">

                    <table  class="table table-bordered table-light">
                      <thead>
                      <tr>
                        <th>Item</th>
                        <th>Number</th>
                        <th>Value</th>
                      </tr>
                      </thead>

                      <tbody>
                      <% @suma=0 %>
                      <% invoice.invoice_items.each do |invoice_item| %>
                        <tr>
                          <td><%= invoice_item.item.name %></td>
                          <td><%= invoice_item.number %></td>
                          <td><%= (invoice_item.number*invoice_item.item.price).round(2) %></td>
                        </tr>
                        <% @suma=@suma+(invoice_item.number*invoice_item.item.price).round(2) %>
                      <% end %>
                      <tr>
                        <td colspan="3" align="right" class="table-dark"> Razem: <%=@suma %> </td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              <% end %>

            <% end %>
            </tbody>
          </table>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

</div>


